.Shots {
  width: 570px;
  margin: 0 auto;
  &__controls {
    height: 60px;
  }
  &__unpublishedShots {
    .Shot {
      margin-top: 14px;
      height: 120px;
      border: 1px solid #979797;
      border-radius: 4px;
      display: flex;
      align-items: center;
      padding: 24px 22px;
      img {
        width: 100px;
        margin-left: 22px;
      }
      &__middle {
        margin-left: 22px;
        text-align: left;
        height: 100%;
      }
      &__right {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
    }
  }
}
